*{
  box-sizing: border-box;
}
body{
  background: #FCE5E5;
}
.nav_items{
  font-family: Monsterrat;
}
#about, #projects, #contact{
  background-color: #f7c2c2;
}
footer{
  background-color: #541616;
}
